/* proprietà generali */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: auto;
    height: 100px;
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png);
    background-size: 400px;
    background-position: inherit;
}

#logo{
    width: 10%;
    height: auto;
    margin-top: 40px;
    margin-left: 10px;  
}