/* proprietà generali */
* {
    margin: 0;
    box-sizing: border-box;
}

/* header + bg pattern + logo */
header {
    width: auto;
    /* height: 100px; */
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-position: inherit;
}

#logo{
    width: 10%;
    height: auto;
    margin-top: 40px;
    margin-left: 10px;  
}

/* main */

main, footer {
   width: 70%;
   margin: auto;
   margin-top: 20px;
}
/* titolo + autore + data */
#titolo {
    margin-top: 20px;
}
h1{
    font-size: 42px;
}

h3 {
    display: inline-block;
    color: #888888;   
}

#data {
    font-size: 15px;
}

#link {
    text-decoration: none;
    color: #4EA0FF;
}

#data {
    color: #888888;
}

/* immagini + credits*/
#images {
    margin-top: 15px;
}

.credits {
    font-size: 12px;
}

/* article */
.article {
    margin-top: 20px;
    
}

/* lista */
#list {
    margin-top: 20px;
}

ul {
    padding-left: 1em;
}

/* table */
table {
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

thead {
    color: white;
    background-color: #20A9E5;
}

tbody {
    background-color: #B1E5F2;
}

td {
    width: 15%;
}
#white_table {
    background-color: white;
}

/* immagini con testo*/

.img {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;   
}

.text{
    font-size: 20px;
    font-weight: bold;
    color:white;
    position: absolute;
    top: 10px;
    left: 10px;   
}
